

include fastcgi.conf;


index index.php index.html;

location / {
    location ~* ^.+\.(?:css|cur|js|jpe?g|gif|htc|ico|png|xml|otf|ttf|eot|woff|woff2|svg|mp4|svgz|ogg|ogv|pdf|pptx?|zip|tgz|gz|rar|bz2|doc|xls|exe|tar|mid|midi|wav|bmp|rtf|txt|map|webp)$ {
        access_log off;
        tcp_nodelay off;
        expires 1y;

        add_header Pragma "cache";
        add_header Cache-Control "public";

        open_file_cache off;
        open_file_cache_valid 30s;
        open_file_cache_min_uses 2;
        open_file_cache_errors off;
    }

    try_files $uri @rewrite;
}

location @rewrite {
    rewrite ^/(.*)$ /index.php?q=$1;
}

location ~ [^/]\.php(/|$) {
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    fastcgi_pass php;
    track_uploads uploads 60s;
}