.topic {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 50px;
    word-spacing: -10px;
    text-align: center;
}

.article_info {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 40px;
}

.article_info .left p {
    font-size: 17px;
    display: block;
    float: left;
}

.article_info .right p {
    display: block;
    float: right;
    padding: 0px 20px 0px 0px;
}

.article_info li p {
    margin: 0
}

.text {
    list-style-type: none;
    color: rgb(85, 85, 85);
    padding-right: 5px;
    font-style: italic;
}

.datetime {
    padding-right: 10px;
}

.article_info li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.article_info li a:hover {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-decoration: underline;
}

.article_content {
    margin: 30px;
    text-indent: 30px;
    font-size: 19px;
    padding-bottom: 10px;
    line-height: 1.4;
    border-top: solid 20px rgba(122, 122, 122, 0.082);
    border-bottom: solid 20px rgba(122, 122, 122, 0.082);
}

.comment {
    margin: 0px 0px 10px 50px;
    letter-spacing: 3px;
    font-family: 'Space Mono', monospace;
    font-size: 35px;   
}

textarea {
    width: 400px;
    height: 60px;
    margin: 0px 10px 10px 30px;
    font-size: 17px;
    font-family: 'Muli', sans-serif;
    transition: width 0.4s ease-in-out;
    box-sizing: border-box;
    border: 2px solid #525252a1;
    border-radius: 5px;
    background-color: #ffffff;
    resize: none;
}

textarea:focus {
    width: 70%;
}

.comment_add_button {
    display: flex;
}

input[type=submit] {
    margin-left: 30px;
    border: 1px solid #d1d1d1a1;
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(78, 78, 78);
    margin-bottom: 20px;
}

input[type=submit]:hover{
    background-color: rgb(53, 53, 53);
}

.comment_info {
    margin: 0px 0px 0px 40px;
    font-size: 18px;
}

.comment_list {
    list-style-type: none;
    margin: 0px 20px 0px 60px;
    padding: 2px 0px 2px 10px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.137);
    color: black;
    width: 1000px;
}

.comment_list li p {
    font-size: 16px;
    margin: 0px 5px 0px 0px;
}

.comment_user {
    margin-left: 5px;
    margin-right: 7px;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 17px;
    font-style: italic;
}

.comment_user:hover {
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 238, 186);
    text-shadow: 0px 0px 7px black;
}

.comment_edited {
    font-style: italic;
}

.comment_dropdown {
    position: relative;
    display: inline-block;
}

.comment_dropdown_button {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.comment_dropdown_button:hover {
    background-color: rgba(0, 0, 0, 0.103);
}

.comment_dropdown_content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.comment_dropdown_content a {
    color: black;
    padding: 7px 15px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .comment_dropdown_content a:hover {background-color: #f7f7f7}
  
  /* Show the dropdown menu on hover */
  .comment_dropdown:hover .comment_dropdown_content {
    display: block;
  }

.comment_content {
    margin: 0px 20px 0px 60px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(255, 238, 186, 0.090);
    font-size: 18px;
    width: 970px;
}

.comment_no_comment {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
}
