.footer .column {
    float: left;
    width: 33.33%;
    display: block;
    height: 130px;
    background-color: #333;
    opacity: 80%;
}

.footer .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Make footer in 1 column for screens less than 600px. */
@media screen and (max-width: 600px) {
    .footer .column {
      width: 100%;
    }
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.footer li {
    display: block;
    color: white;
    padding: 5px 16px;
}

.footer li p {
    font-size: 18px;
    margin: 0;
    color: rgb(224, 224, 224);
}

.footer li a {
    text-decoration: none;
    color: white;
    padding-left: 10%;
}

.footer li a:hover {
    color: white;
    text-decoration: underline;
}
