h1 {
    margin: 0px 0px 20px 100px;
    padding-top: 70px;
}

input {
    width: 500px;
    margin: 10px 0px 10px 70px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: rgba(255, 238, 186, 0.090);
}

input[type=submit] {
    background-color: rgb(77, 77, 77);
    color: white;
    border: none;
    font-size: 19px;
}

input[type=submit]:hover {
    background-color: rgb(100, 100, 100);
}

p {
    margin: 0;
    margin-left: 160px;
    padding-bottom: 20px;
}

a {
    color:black
}

a:hover {
    text-decoration: none;
}