.user_panel ul{
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 80%;
    position: fixed;
    width: 100%;
    max-width: 1400px;
    top: 0
}

.user_panel li {
    float: left;
}

.user_panel li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.user_panel li a:hover {
    background-color: #111;
}

.user_panel li p {
    margin: 0;
    display: block;
    padding: 14px 16px;
    padding-right: 0;
    color: rgb(209, 209, 209);
    text-align: right;
}

.user_panel li:last-child {
    border-left: 1px solid #bbb;
}

.user_panel .left_a {
    border-right: 1px solid #bbb;
}

.user_panel .right_a {
    float:right;
    border-right: 1px solid #bbb;
}

.user_panel .right_p {
    float:right;
}
